<ul class="navbar" style="list-style-type:none;padding-bottom:30px;padding-left:0">
    <li style="float:left;display:block;padding-bottom:16px;padding-right:16px;"><%= link_to 'Home', root_path %></li>
    <li style="float:left;display:block;padding-bottom:16px;padding-right:16px;"><%= link_to 'Images', images_path %></li>
</ul>